<nav class="py-6">
    <div class="container">

        <div class="flex flex-col sm:flex-row gap-4 items-center justify-center">
            <img src="../../assets/icons/Path-224.svg" alt="logo">
            <div class="ms-0 sm:ms-12 py-2 px-3 flex-grow flex bg-primary-100 text-primary rounded-md">
                <button class="">
                    <img src="../../assets/icons/magnifying-glass-solid.svg" class="text-primary w-4" alt="search icon">
                </button>
                <p class="ms-2 md:ms-6">عم تبحث؟</p>
                <input type="text" name="" id="" class="flex-grow bg-transparent ms-4 ps-2 focus:outline-none" placeholder="...">
            </div>
            <div class="flex flex-row">
                <button class="bg-primary-100 rounded-md mx-4 p-2 hover:bg-divider-gray">
                    <img src="../../assets/icons/person-24px.svg" alt="profile btn">
                </button>
                <button class="flex items-center rounded-md px-2 bg-primary-100 hover:bg-divider-gray">
                    <p class="me-5 text-primary">سلة التسوق</p>
                    <img src="../../assets/icons/shopping_cart-24px.svg" alt="cart">
                </button>
            </div>
        </div>
    </div>
</nav>