<nav class="bg-primary-100">
    <ul class="container flex flex-col sm:flex-row text-primary">
        <li>
           
                <a routerLink="/aa" routerLinkActive="bg-primary-300 font-bold" class="flex py-2.5 px-7 hover:bg-primary-100">
                  <h6>

                      الأقسام
                    </h6>
                </a>
            
        </li>
        <li>
            <a routerLink="" routerLinkActive="bg-primary-300 font-bold" class="flex py-2.5 px-7 hover:bg-primary-100" [routerLinkActiveOptions]="{exact: true}">
                <h6 class="">
                    الرئيسية
                </h6>
                </a>
        </li>
        <li>
            <a routerLink="/aa" routerLinkActive="bg-primary-300 font-bold" class="flex py-2.5 px-7 hover:bg-primary-100">
                    <h6>
                    قائمه الأمنيات
                </h6>
                </a>
        </li>
        <li>
            <a routerLink="/aa" routerLinkActive="bg-primary-300 font-bold" class="flex py-2.5 px-7 hover:bg-primary-100">
                    <h6>
                    تواصل معنا
                </h6>
                </a>
        </li>
        <li>
            <a routerLink="/aa" routerLinkActive="bg-primary-300 font-bold" class="flex py-2.5 px-7 hover:bg-primary-100">
                    <h6>
                    من نحن
                </h6>
                </a>
        </li>
    </ul>

</nav>