<div class="container py-8">
    <h2 class="mb-7 ps-6 text-primary-accent text-xl font-bold">سلة التسوق</h2>
    <hr class="text-primary-accent"/>
    <div *ngIf="cart.length === 0" class="flex flex-col items-center">
        <figure class="w-2/3 md:w-1/3 flex justify-center mt-20">
            <img src="assets/images/empty-cart.png" alt="">
        </figure>
        <figcaption class="text-xl my-4">سلة التسوق فارغة.</figcaption>
        <button>
            <a routerLink="/" class="bg-primary-300 hover:bg-primary text-primary-accent hover:text-foreGround py-1 px-2 rounded text-lg">تصفح الآن</a>
        </button>
    </div>
    <div  *ngIf="cart.length > 0" class="flex flex-col p-6">
        <ul class="flex flex-col divide-y divide-primary-accent my-8">
            <li class="flex mb-2" *ngFor="let item of cart">
                <div class="flex w-full flex-col sm:flex-row">
                    <img class="flex-shrink-0 object-contain w-20 h-20 rounded outline-none sm:w-32 sm:h-32" [src]="'../../../assets/images/'+ item.thumbnail" alt="Polaroid camera">
                    <div class="flex flex-col justify-between w-full ps-4 pb-4">
                        <div class="flex justify-between w-full pb-2">
                            <div class="text-txt-black">
                                <h3 class="text-lg font-bold">{{item.title}}</h3>
                            </div>
                            <div class="ms-2 sm:ms-0">
                                <p class="text-lg font-semibold">{{item.price}} ج.م</p>
                                <p *ngIf="item.priceBeforeDiscount" class="text-sm line-through dark:text-gray-600">{{item.priceBeforeDiscount}} ج.م</p>
                            </div>
                        </div>
                        <div class="flex text-sm">
                            <button (click)="removeFromCart(item.id)" class="px-2 py-1 bg-primary-300 hover:bg-primary hover:text-foreGround rounded">
                              ازاله من السلة
                            </button>
                            <button (click)="toggleWishlist(item)" type="button" class="px-2 py-1 ">
                                <img [src]="this.item.isProductWishlisted? wishlistIcon[1] : wishlistIcon[0]" alt="favorite">
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
        <hr class="text-primary-accent"/>
        <div class="mt-6 text-lg">
            <p>المجموع:
                <span class="font-bold">{{totalPrice}} ج.م</span>
            </p>
        </div>
        <div class="flex justify-end space-x-4">
            <button type="button" class="px-4 py-2 bg-primary-300 hover:bg-primary hover:text-foreGround rounded text-lg">
                <a routerLink="/">العودة للقائمة الرئيسية</a>
            </button>
        </div>
    </div>
</div>