<section class="container py-8">
    <h2 class="mb-7 text-primary-accent font-bold">قائمة الامنيات</h2>
    <hr class="text-primary-accent"/>
    <div *ngIf="wishlist.length === 0" class="flex flex-col items-center">
        <figure class="flex justify-center mt-20">
            <img src="assets/images/empty-wishlist.png" alt="">
        </figure>
        <figcaption class="text-xl my-4">قائمة الأمنيات فارغة.</figcaption>
        <button>
            <a routerLink="/" class="bg-primary-300 hover:bg-primary text-primary-accent hover:text-foreGround py-1 px-2 rounded text-lg">تصفح الآن</a>
        </button>
    </div>
    <div class="flex flex-col items-center md:flex-row md:flex-wrap gap-6 py-8">
        <div *ngFor="let product of wishlist" class="w-72">
            <app-product-card-main [productItem]="product"></app-product-card-main>
        </div>
    </div>
</section>