<div class="card-wrapper relative p-4 rounded-md shadow-md flex flex-col bg-foreGround">
	<figure class="w-full">
		<img [src]="'assets/images/'+ productItem.thumbnail" alt=""
			class="object-contain object-center w-full rounded-md h-72 dark:bg-gray-500">
	</figure>
	<div class="mt-6 mb-2">
		<h4 class="text-xl font-normal ">{{productItem.title}}</h4>
	</div>

	<div class="mt-4 flex">
		<img [src]="productItem.rating >= 1? starIcon[0] : starIcon[1]">
		<img [src]="productItem.rating >= 2? starIcon[0] : starIcon[1]">
		<img [src]="productItem.rating >= 3? starIcon[0] : starIcon[1]">
		<img [src]="productItem.rating >= 4? starIcon[0] : starIcon[1]">
		<img [src]="productItem.rating >= 5? starIcon[0] : starIcon[1]">
	</div>

	<div *ngIf="!!productItem.priceBeforeDiscount">
		<h5 class="mt-4 text-primary-700 line-through">{{productItem.priceBeforeDiscount}} ج.م</h5>
	</div>
	<h5 class="mt-4 text-primary-accent font-bold mt-auto">{{productItem.price}} ج.م</h5>

	<div class="flex items-baseline justify-between">
		<button (click)="AddToCart()" [attr.disabled]="productItem.isProductInCart? '': null" [ngClass]="{'hover:bg-primary-accent': !productItem.isProductInCart}"  class="mt-4 flex gap-2 bg-primary text-foreGround py-2 ps-2 pe-6 rounded">
			<span>
				<img src="assets/icons/add_shopping_cart-white-18dp.svg">
			</span>
			اضف للسلة
		</button>
		<div class="flex gap-2">
			<button>
				<img src="assets/icons/share.svg" alt="share">
			</button>
			<button (click)="toggleWishlist()">
				<img [src]="this.productItem.isProductWishlisted? wishlistIcon[1] : wishlistIcon[0]"  alt="favorite">
			</button>
		</div>
	</div>
	
	<div class="absolute top-0 start-0 py-1 px-2 m-3">
		<img src="assets/icons/compare_arrows_black_24dp.svg" alt="compare">
	</div>

	<div *ngIf="!!productItem.state" class="absolute rounded-full top-0 end-0 py-1 px-4 m-3 text-foreGround"
		[ngClass]="{'bg-primary': productItem.state == 'جديد', 
		'bg-secondary': productItem.state == 'عرض'}">
		{{productItem.state}}
	</div>
</div>